# Node.js dependencies
node_modules/
npm-debug.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
debug.log
nohup.out

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# PM2 logs
pm2.log
pm2.pid

.history/
